@import "tailwindcss";

:root {
  --background: #f8f2e8;
  --lighter-background: #fcfaf6;
  --main-text-color: #095a69;
  --text-font: "Nunito", sans-serif;
  --header-font: "Futura", sans-serif;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  color: var(--main-text-color);
}

h5 {
  font-family: var(--text-font);
  color: var(--main-text-color);
  line-height: 1.2;
}

p {
  font-family: var(--text-font);
  color: var(--main-text-color);
}

.algo-card-btn {
  width: 100%; /* full width of parent */
  max-width: 200px; /* but no wider than 200px */
  height: auto; /* let height grow naturally */
  padding: 0.5rem 1rem; /* responsive padding */
  background-color: #b8e1e8;
  border-radius: 40px;
  text-align: center;
  font-size: 1rem; /* scalable with rem units */
}

.algo-card {
  border-color: var(--main-text-color);
  border-width: 2px;
  background-color: var(--lighter-background);
}

.algo-image {
  background-color: var(--background);
  border-color: var(--main-text-color);
  border-width: 2px;
}

.data-card-title {
  font-family: var(--header-font);
  color: var(--main-text-color);
  font-size: 100%;
  line-height: 1.2;
}
